# .env.example
# Pata ufunguo wako hapa: https://aistudio.google.com/app/apikey
# Weka ufunguo wako baada ya alama ya = hapa chini:

GEMINI_API_KEY=Weka_Ufunguo_Wako_Hapa
VITE_GEMINI_API_KEY=Weka_Ufunguo_Wako_Hapa
