# GEMINI_API_KEY: Required for Dr. Revo AI and Plant Scanner.
GEMINI_API_KEY=your_api_key_here

# APP_URL: The URL where this applet is hosted.
APP_URL=https://ais-dev-w6tdeh2cwkanworwne5mvs-443460401903.europe-west2.run.app
